<table align=center>
  <% @departures = @departures.sort_by {|s,t| t.empty?.to_s } %>
  <% @departures.each do |station, dir_times| %>
  <% times = dir_times["times"] %>
  <tr>
  <td><h5 class="route_name"><strong><%= station %></strong></h5></td>
  <td width="50px" align="right"> <img src="/assets/favorite.png" class="favorite-button" style="height: 36px;" data-route="<%= dir_times["route_idf"] %>" data-stop="<%= @route_stop.name %>" /> </td>
  </tr>
  <tr><td colspan="2">
    <!-- <h5 class="route_name"><strong><%= station %></strong> <img src="/assets/favorite.png" id="favorite-button" style="height: 36px;" /> </h5> -->
    <% if times.present? %>
      <% times.each do |time| %>
        <span class="circled"><span style="font-size: 30px; line-height: 45px;"><%= time %></span><br><span style="font-size: 12px; line-height: 12px;"><%= "min".pluralize(time.to_i) %></span></span>
      <% end %>
    <% else %>
    <h5>Not available right now</h5>
    <% end %>
  </td></tr>
  <% end %>
</table>